.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-left {
  display: flex;
  padding: 5px;
}
.leftside {
  background-color: rgb(250, 137, 129);
  margin-right: 5px;
  padding-bottom: 5px;
}
.portfolio-left img {
  width: 400px;
  height: 500px;
}
.portfolio-right {
  display: flex;
  flex-direction: column;
}
.portfolio-right img {
  width: 400px;
  height: 250px;
}
.rightside1 {
  background-color: beige;
  margin-bottom: 5px;
}
.rightside2 {
  background-color: rgb(218, 189, 151);
}
@media only screen and (max-width: 400px) {
  .portfolio {
    width: 400px;
    margin: 0px;
    align-items: flex-start;
    margin: 0px;
  }
  .portfolio h1 {
    font-size: 20px;
    padding: 0px;
    margin-left: 5px;
  }
  .portfolio-left {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .portfolio img {
    width: 400px;
    margin: 0px;
    padding: 0px;
  }
}
