.testimoial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  background-color: #ffffff;
}
.testimoial-btn {
  width: 150px;
  margin: auto;
  padding: 10px 10px;
  border: none;
  background-color: #fe8e5e;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
@media only screen and (max-width: 400px) {
  .testimoial {
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
    margin: 0px;
  }
  .testimoial h1 {
    font-size: 25px;
  }

  .testimonial-img {
    width: 400px;
  }
  .testimonial-info {
    width: 300px;
  }
}
