.App {
  width: 1440px;
  margin: auto;

  /* background-color: #fff4df; */
}

@media only screen and (max-width: 600px) {
  .App {
    width: 400px;
    /* margin: auto; */

    /* background-color: #fff4df; */
  }
}
